/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.border-nav {
  border-top: 0.1px solid rgb(237, 240, 240);
  border-bottom: 0.1px solid rgb(223, 224, 224);
}
.border-l-nav {
  border-left: 0.1px solid rgb(206, 209, 209);
}
.border-r-nav {
  border-right: 0.1px solid rgb(210, 211, 211);
}
.border-b-nav {
  border-bottom: 0.1px solid rgb(210, 211, 211);
}
.transit-nav {
  transition: all 0.1s linear;
}
.transit-submenu {
  transition: all 0.1s linear;
}
.transit {
  transition: all 0.3s linear;
}
.m-left {
  margin-left: -0.6rem;
}
.w-table {
  width: 25rem;
}
.max-w-screen {
  max-width: 1100px;
}
.max-w-h-screen {
  max-width: 500px;
}
.max-w-h-screen2 {
  max-width: 580px;
}
.border-radius {
  border-radius: 50%;
}
.w-144 {
  width: 36rem;
}
.w-screen-full {
  width: 1536px;
}
.red-text {
  color: red !important;
}

.table-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
